@viewport {
  width: device-width;
}

@viewport {
  zoom: 0.75;
  min-zoom: 0.5;
  max-zoom: 0.9;
}

@include pm-generator($size: "xxl", $count: 40, $media: $xxl);
@include pm-generator($size: "xl", $count: 40, $media: $xl);
@include pm-generator($size: "lg", $count: 40, $media: $lg);
@include pm-generator($size: "md", $count: 40, $media: $md);
@include pm-generator($size: "sm", $count: 40, $media: $sm);

@include pm-generator($size: "x", $count: 40, $media: $xxl);
@include pm-generator($size: "x", $count: 40, $media: $xl);
@include pm-generator($size: "x", $count: 40, $media: $lg);
@include pm-generator($size: "x", $count: 40, $media: $md);
@include pm-generator($size: "x", $count: 40, $media: $sm);

@include pm-generator($size: "y", $count: 40, $media: $xxl);
@include pm-generator($size: "y", $count: 40, $media: $xl);
@include pm-generator($size: "y", $count: 40, $media: $lg);
@include pm-generator($size: "y", $count: 40, $media: $md);
@include pm-generator($size: "y", $count: 40, $media: $sm);

@include pm-generator($size: "", $count: 40);

@include pm-auto-generator($size: "xxl", $case: "x", $media: $xxl);
@include pm-auto-generator($size: "xl", $case: "x", $media: $xl);
@include pm-auto-generator($size: "lg", $case: "x", $media: $lg);
@include pm-auto-generator($size: "md", $case: "x", $media: $md);
@include pm-auto-generator($size: "sm", $case: "x", $media: $sm);

@include pm-auto-generator($size: "xxl", $case: "y", $media: $xxl);
@include pm-auto-generator($size: "xl", $case: "y", $media: $xl);
@include pm-auto-generator($size: "lg", $case: "y", $media: $lg);
@include pm-auto-generator($size: "md", $case: "y", $media: $md);
@include pm-auto-generator($size: "sm", $case: "y", $media: $sm);

@include pm-auto-generator($size: "xxl", $case: "", $media: $xxl);
@include pm-auto-generator($size: "xl", $case: "", $media: $xl);
@include pm-auto-generator($size: "lg", $case: "", $media: $lg);
@include pm-auto-generator($size: "md", $case: "", $media: $md);
@include pm-auto-generator($size: "sm", $case: "", $media: $sm);

@include generatorLoop($size: "", $count: 40);
@include generatorLoop($size: "x", $count: 40);
@include generatorLoop($size: "y", $count: 40);

// html {
//   scroll-behavior: smooth;
//   min-height: 100%;

//   body {
//     margin: 0;
//     padding: 0;
//     position: relative;
//     min-height: 100%;
//     overflow-x: hidden;
//     font-size: 14px;

//     * {
//       padding: 0;
//       outline: none;
//       // @extend .Regular-font;
//       font-size: 14px;
//     }
//   }
// }

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

body[dir="rtl"] {
  * {
    direction: rtl;
  }
}
body[dir="rtl"] .chart-container {
  * {
    direction: ltr;
  }
}
body[dir="rtl"] .matrix-container {
  * {
    direction: ltr;
  }
}

//START >>>>>>> scrollBar style

::-webkit-scrollbar {
  width: 14px;
  opacity: 0.5;
}
::-webkit-scrollbar-track {
  background: #f7f5f581;
}
::-webkit-scrollbar-thumb {
  background: rgba(119, 119, 119, 0.5);
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//END >>>>>>>>> scrollBar style

.clear {
  width: 0;
  height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
i,
address,
b {
  font-weight: normal;
  margin: 0;
  font-style: normal;
}

p {
  margin: 0;
}

a,
a:hover {
  text-decoration: none !important;
}

dl,
ol,
ul {
  list-style: none;
  margin: 0;
}

a,
i {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

.content {
  padding: 0px 120px 0px;
}

// Bootstrap Css
.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-table {
    display: table !important;
  }

  .d-sm-table-row {
    display: table-row !important;
  }

  .d-sm-table-cell {
    display: table-cell !important;
  }

  .d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-inline {
    display: inline !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-table {
    display: table !important;
  }

  .d-md-table-row {
    display: table-row !important;
  }

  .d-md-table-cell {
    display: table-cell !important;
  }

  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-table {
    display: table !important;
  }

  .d-lg-table-row {
    display: table-row !important;
  }

  .d-lg-table-cell {
    display: table-cell !important;
  }

  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-inline {
    display: inline !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-table {
    display: table !important;
  }

  .d-xl-table-row {
    display: table-row !important;
  }

  .d-xl-table-cell {
    display: table-cell !important;
  }

  .d-xl-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
.p-100 {
  padding: 100px !important;
}
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-lighter {
  font-weight: lighter !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-bolder {
  font-weight: bolder !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.min-vw-100 {
  min-width: 100vw !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.vw-100 {
  width: 100vw !important;
}

.vh-100 {
  height: 100vh !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.vertical-top {
  vertical-align: top !important;
}

.vertical-middle {
  vertical-align: middle !important;
}

.vertical-bottom {
  vertical-align: bottom !important;
}

.text-muted {
  color: #cccccc !important;
}

div[lang="fa"] {
  & input {
    direction: rtl;
    text-align: right;
  }

  & label {
    left: unset;
    right: 0;
  }
}

div[lang="en"] {
  & input {
    direction: ltr;
    text-align: left;
  }

  & label {
    left: 0;
    right: unset;
  }
}

.noScrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

/*start style for page title*/
.pages-title-wrapper {
  border-bottom: solid 1px #cccccc;
  margin-bottom: 20px;

  .pages-title {
    font-size: 20px;
    line-height: 40px;
    position: relative;
    display: inline-block;
    padding: 0 25px;
    font-weight: bold;

    &:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
    }
  }
}

/*end style for page title*/

.submitBtn {
  width: 215px;
}

/* start vertical tabs*/
.tab_wrapper_vertical {
  .ant-tabs-ink-bar {
    display: none;
  }

  .ant-tabs-nav {
    background-color: rgba(173, 193, 195, 0.2);
    min-height: 100vh;
    padding: 30px 0;

    .ant-tabs-nav-wrap {
      height: 100%;
    }

    .ant-tabs-tab {
      color:#74a3b7;
      font-size: 14px;
      line-height: 28px;
      width: 212px;

      &.ant-tabs-tab-active {
        position: relative;

        svg {
          margin: 0 12px;
          color:#74a3b7;
          vertical-align: middle;
        }

        &::before {
          content: "";
          right: 0;
          position: absolute;
          background-color:#24408f;
          height: 24px;
          width: 55px;
          z-index: -1;
        }

        .ant-tabs-tab-btn {
          color: #444444;
          font-size: 16px;
        }
      }
    }
  }

  @include respond-to($sm) {
    .ant-tabs,
    .ant-tabs-content-holder {
      display: block;
    }

    .ant-tabs-nav {
      display: block;
      min-height: auto;
    }
  }
}

/*end vertical tabs*/
/*start list item wrapper type1*/
.list-item-wrapper-type1 {
  .ant-list-item {
    padding: 10px 15px;

    .ant-list-item-meta-title,
    .ant-list-item-meta-description {
      margin-bottom: 0;
      display: inline-block;

      span {
        color: #444444;
      }
    }

    .ant-list-item-meta-title {
      width: 25%;
    }

    .ant-list-item-meta-description {
      span {
        padding: 0 15px;
      }
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:nth-child(odd) {
      background-color: #f7f7f7;
    }

    &:nth-child(even) {
      background-color: #cccccc;
    }
  }
}

/*end list item wrapper type1*/

/*start style for div with dashed border */
.dashed-border {
  border: 1px dashed #cccccc;
  border-radius: 3px;
  padding: 20px;
  position: relative;

  .dashed-border-txt {
    background-color: white;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: -20px;
    right: 80px;
    color: #444444;
    font-size: 16px;
  }
}

/*end style for div with dashed border */

/*start style for disable icon */
.icon-diasable {
  color: #cccccc;
}

/*end style for disable icon */
body[dir="ltr"] {
  * {
    direction: ltr;
  }

  .tab_wrapper_vertical {
    .ant-tabs-nav {
      .ant-tabs-tab {
        &.ant-tabs-tab-active {
          &::before {
            left: 0;
            right: auto;
          }
        }
      }
    }
  }
}

.mv-1920 {
  max-width: 1920px;
}

.z-index-99 {
  z-index: 99 !important;
}

// .DatePicker {
//   z-index: unset;
//   &__calendarContainer {
//     z-index: 100;
//     * {
//       z-index: 100;
//     }
//   }
// }

//used in origin point
.noBorder {
  display: contents;
}

/*start float label & form style */
.float-label {
  position: relative;

  input::placeholder {
    opacity: 0;
  }
}

.disabled {
  color: rgb(161, 161, 161);
}
.spanBox {
  width: 100%;
  background-color: grey;
  // min-height: 200px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s linear;
  margin: 40px 0;
  padding: 12px 25px 12px 25px;

  .textTitle {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 20px;
    background: white;
    padding: 0 15px;
    top: -15px;
    margin: auto 0;
    display: inline-block;
    color: #cccccc;
    background-color: white;

    &::before {
      content: "";
      position: absolute;
      height: 30px;
      width: 1px;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      /* margin: 5px; */
      background-color: #cccccc;
    }

    &::after {
      content: "";
      position: absolute;
      height: 30px;
      width: 1px;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background-color: #cccccc;
    }
  }

  &:hover {
    border-color:#24408f;

    .textTitle {
      color:#24408f;

      &::before,
      &::after {
        background-color:#24408f;
        color:#24408f;
      }
    }
  }
}
