@font-face {
    font-family: "Dana-FaNum-Medium";
    src: url("../../fonts/Dana-FaNum-Medium.ttf");
}

@font-face {
    font-family: "Dana-FaNum-Medium";
    src: url("../../fonts/Dana-FaNum-Medium.ttf");
}

body {
    font-family: Dana-FaNum-Medium;
    color: $color-grey-dark;
}

.heading-primary {
    // color: transparent;
    // background-image: linear-gradient(-180deg, rgba(255,115,0,1) 34%, rgb(7, 107, 124) 90%);
    // -webkit-background-clip: text;
    color: $color-white;
    // text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 600;
        // letter-spacing: 2.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone) {
            // letter-spacing: 1rem;
            font-family: 3rem;
        }
        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        // letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone) {
            // letter-spacing: 0.5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    // text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    // letter-spacing: 0.2rem;
    transition: all 0.2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
