@import "assets/styles/main.scss";

.login {
    height: 85vh;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-tertiary-light, 0.8),
            rgba($color-tertiary-dark, 0.8)
        ),
        url(../../../assets/images/hero-small.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
        only screen and (min-width: 125em) {
        background-image: linear-gradient(
                to right bottom,
                rgba($color-tertiary-light, 0.8),
                rgba($color-tertiary-dark, 0.8)
            ),
            url(../../../assets/images/hero-small.jpg);
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__box {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-grey-light-1, 0.1),
            rgba($color-grey-light-2, 1)
        );
        position: absolute;
        padding: 20px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        @include respond(phone) {
            width: 90%;
            position: fixed;
            top: 50%;
            left:50%;
        }
    }

}
