/*start of ant layout overrides*/
.ant-layout {
    .ant-layout-sider {
        @include respond-to($xl) {
            overflow: hidden;
            overflow-y: scroll;
        }

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: #ffffff;
        }

        &::-webkit-scrollbar-thumb {
            background: #cccccc;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #888888;
        }

        .ant-menu {
            background: unset;
            border: 0;

            &.ant-menu-inline-collapsed {
                .ant-menu-item {
                    span {
                        display: none;
                    }
                }
            }

            &:not(.ant-menu-horizontal) .ant-menu-item-selected {
                background-color: unset;
            }

            .ant-menu-submenu {
                .ant-menu-submenu-title {
                    text-align: center;
                }
            }

            .ant-menu-item {
                margin-top: 0;

                &:after {
                    border: 0;
                }

                span {
                    padding: 0 20px;
                    display: inline-block;
                    line-height: normal;
                }
            }
        }

        .copy-right-wrapper {
            font-size: 10px;
            text-align: center;
            color: #74a3b7;
            padding: 15px 0;

            .fwutech-text {
                color: #00afef;
                font-size: 10px;
            }
        }
    }

    .ant-layout-header {
        background: white;
        height: auto;
        position: fixed;
        z-index: 1000;
        width: 100%;

        .site-layout-header {
            // background: linear-gradient(-90deg, #0388e5 0, #07bdf4);
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .anticon-menu-fold {
                svg {
                    font-size: 20px;
                    color: white;
                }
            }

            .menu-wrapper {
                display: flex;
                align-items: center;

                .lang-wrapper {
                    color: #74a3b7;
                    font-size: 17px;

                    * {
                        font-size: 19px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .header-btn {
                    margin: 0;
                    padding: 0;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: unset;
                    border: 0;
                    box-shadow: none;
                    font-size: 20px;
                }
            }
        }
    }

    .ant-layout-content.site-layout-background {
        min-height: 280px;
        margin-top: 112px;
    }
}

/*end of ant layout overrides*/

.ant-btn {
    & .anticon {
        position: relative;
        top: 4px;
    }
}

/*start logAuditPerService component style*/
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 12px 40px;
}

.ant-collapse-borderless > .ant-collapse-item {
    border-bottom: 0px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
    color: #74a3b7;
    display: flex;
    position: absolute;
    right: 16px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: auto;
    align-items: center;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    clear: both;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    color: #74a3b7;
}

.ant-collapse-content > .ant-collapse-content-box {
    padding: 16px 40px;
}

.ant-collapse-borderless > .ant-collapse-item-active > .ant-collapse-header {
    div {
        color: #24408f;
    }
}

.ant-collapse-borderless > .ant-collapse-item-active > .ant-collapse-header {
    div {
        color: #24408f;
    }
}

.ant-collapse-borderless > .ant-collapse-item-active > .ant-collapse-header .ant-collapse-extra {
    color: #24408f;
}

.ant-collapse-borderless > .ant-collapse-item-active > .ant-collapse-header .ant-collapse-arrow {
    color: #24408f;
}

.ant-collapse-borderless > .ant-collapse-item-active > .ant-collapse-content > .ant-collapse-content-box {
    div {
        color: #24408f;
    }
}

.ant-collapse-borderless {
    background-color: #ffffff;
    border: 0;
    width: 100%;
}

.ant-collapse-borderless > .ant-collapse-item:nth-child(2n) {
    background-color: white;
}

.ant-form-rtl .ant-form-item-label {
    text-align: right !important;
}

/*end logAuditPerService component style*/
.ant-input[disabled],
.ant-select-disabled.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    color: rgba(0, 0, 0, 0.45);
    background-color: rgba(0, 0, 0, 0.03);
}

input,
.DatePicker__input,
.ant-input-affix-wrapper,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.ant-select-selector,
.ant-input,
.DatePicker,
.ant-upload,
.ant-picker,
.ant-upload .ant-btn,
.ant-select-multiple .ant-select-selector {
    border-radius: 5px;
    height: 38px;
    width: 100%;
    background: transparent;

    &:focus {
        box-shadow: none;
        border-color: #74a3b7;
    }
}

.ant-form-item-label {
    overflow: visible;

    > label::after {
        content: "";
    }
}

textarea.ant-input {
    max-height: 150px;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 40px;
}

.ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector {
    box-shadow: none;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 40px;
}

/*start style for table*/
.ant-table {
    overflow-x: auto;
    overflow-y: hidden;

    .ant-table-tbody {
        .ant-table-row:nth-child(odd) {
            background: #f8e7cfb7;
        }

        .ant-table-row:nth-child(even) {
            background: #cfe2deaf;
        }
    }
}

td.ant-table-column-sort,
.ant-table-thead th.ant-table-column-sort,
.ant-table-thead th.ant-table-column-has-sorters:hover {
    background: unset;
}

.ant-table-wrapper .ant-table-thead > tr > th {
    text-align: center;
}

.ant-table-thead > tr > th {
    background-color: #ffffff;
    border-bottom: solid 1px #cccccc;
    position: relative;
    color: #444444;
    font-size: 14px;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #cccccc;
        height: 23px;
        margin: auto 0;
    }

    &:last-child:before {
        display: none;
    }
}

.ant-table-cell {
    border-bottom: 0;

    svg:not(.disabled):hover {
        cursor: pointer;
    }
}

.ant-table-tbody > tr > td {
    border-bottom: 0;
    color: #444444;
    text-align: center;
}

.ant-table-filter-trigger,
.ant-table-column-sorter-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0;
}

.ant-table-column-sorter-inner {
    width: 2.3em;
    padding: 15px 0;
}

.ant-table-filter-trigger-container,
.ant-table-column-sorter {
    left: 0;
}

.ant-table-rtl .ant-table-thead tr th.ant-table-column-has-sorters .ant-table-filter-column-title {
    padding: 0 2.3em 0 0;
}

.sorterTable .ant-table-column-sorter-inner {
    right: 0;
    left: auto;
}

.ant-table-filter-trigger-container:hover {
    background: transparent;
}

.ant-table-filter-trigger-container-open,
.ant-table-filter-trigger-container:hover,
.ant-table-thead th.ant-table-column-has-sorters:hover .ant-table-filter-trigger-container:hover {
    background: transparent;
}

.ant-table-pagination.ant-pagination {
    float: left;
}

.ant-table-column-sorters {
    width: 100%;
    display: inline-block;
}

/*end style for table*/

/* start style for stepper */
.ant-steps-item-process .ant-steps-item-icon {
    background: white;
    border-color: white;
}

.ant-steps-item-process .ant-steps-item-icon .ant-steps-icon {
    color: #24408f;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
    color: #adbfc3;
}

.ant-steps-item-description {
    color: #adbfc3 !important;
}

.ant-steps-item-container {
    margin-top: 39px;
}

.ant-steps-rtl.ant-steps-vertical.ant-steps-small .ant-steps-item-container .ant-steps-item-tail {
    margin-top: 39px;
}

.ant-steps-vertical.ant-steps-small .ant-steps-item-container .ant-steps-item-title {
    line-height: 24px;
    font-weight: 700 !important;
    color: white;
}

/* end style for stepper */

/*start style for modal*/

.delete-content {
    padding: 30px 0;
    width: 73%;
    margin: 0 auto;
    font-size: 14px;
    color: #444444;
}

/*start style for upload*/
.ant-upload {
    .ant-btn {
        width: 100%;
        text-align: right;
    }

    .ant-btn .anticon {
        float: left;
    }
}

.ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
    box-shadow: none;
}

/*start override notification styles*/
.ant-notification {
    .ant-notification-notice-icon {
        line-height: 38px;

        & svg {
            width: 20px;
            height: 20px;
        }
    }

    .ant-notification-notice-with-icon .ant-notification-notice-message {
        margin-bottom: 0px;
    }

    .ant-notification-notice-close {
        top: 23px;
    }

    .ant-notification-notice-message {
        line-height: 30px;
    }
}

/* end override notification styles*/

.body-spain {
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .ant-spin-dot {
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

/*please insert all your (ltr) reset style at the end of the page*/

//start style for uploadfile box
.only-upload {
    .ant-upload {
        border-bottom: none;

        .ant-btn {
            background: none;
            border: 1px solid #d9d9d9;
            border-radius: 5px;

            &.required-upload::after {
                display: inline-block;
                margin-right: 4px;
                color: #ff4d4f;
                font-size: 14px;
                font-family: SimSun, sans-serif;
                line-height: 20px;
                content: "*";
                right: 0;
                font-weight: bold;
                position: absolute;
            }
        }
    }

    .ant-upload-list-item-info .ant-upload-text-icon .anticon {
        right: 0;
        top: 0;
    }
}

//end style for uploadfile box

//ant steps active first
.ant-steps-item-process .ant-steps-item-icon {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.25);
}

/*start ltr style override*/
body[dir="ltr"] {
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
        left: 16px;
        right: auto;
    }

    // .ant-form-rtl .ant-form-item-label {
    //   text-align: left;
    // }

    .ant-layout-sider-children {
        border-top-right-radius: 25px;

        ul li:first-of-type {
            border-top-right-radius: 25px;
            border-top-right-radius: 0px;
        }

        .ant-menu-item svg {
            position: relative;
            bottom: 3px;
        }
    }

    .br {
        border-top-right-radius: 25px;
    }

    .ant-collapse-rtl.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
        left: 16px;
        right: auto;
    }

    .ant-table-thead > tr > th {
        text-align: center;

        &:before {
            right: 0;
            left: auto;
        }
    }

    .ant-table-filter-trigger,
    .ant-table-column-sorter-inner {
        right: 0;
        left: auto;
    }

    .ant-table-filter-trigger-container,
    .ant-table-column-sorter {
        right: 0;
    }

    .ant-table-pagination.ant-pagination {
        float: right;
    }

    .ant-upload {
        .ant-btn {
            border: none;
            width: 100%;
            text-align: left;
        }

        .ant-btn .anticon {
            float: right;
        }
    }
}

/*end ltr style override*/

.ant-tabs-content-holder {
    margin-top: 3px;
}

// themeBTN
.btn-public.btn-setting {
    top: 110px !important;
}
// tabs
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
    background-color: rgba(173, 216, 230, 0.3) !important;
    border: 1px solid rgba(173, 216, 230, 1) !important;
}
// tiemPicker
.ant-picker-time-panel .ant-picker-content {
    direction: ltr !important;
}
// table
::-webkit-scrollbar {
    height: 15px !important;
}

.ant-menu-submenu-title {
    text-align: right !important;
    direction: ltr !important;
}
// cards
.kyMWJn.ant-card,
.iCEnhM.ant-card {
    transition: all 0.7s !important;
    -webkit-transition: all 0.7s !important;
    -moz-transition: all 0.7s !important;
    -ms-transition: all 0.7s !important;
    -o-transition: all 0.7s !important;
}
// ProbPage >> treeShow
.ant-tree-show-line::after,
.ant-tree-indent-unit::after,
.ant-tree-indent-unit::after {
    border-right: none;
    border-right: 2px dashed #d9d9d9 !important;
    height: 40px !important;
}

.ant-tree-rtl.ant-tree-show-line .ant-tree-indent-unit::before {
    border-left: 2px dashed #d9d9d9 !important;
    height: 40px !important;
}
.ant-tree-indent-unit {
    width: 60px !important;
    height: 30px !important;
}
.ant-tree .ant-tree-node-content-wrapper {
    cursor: default !important;
}
// table Info Data

.table-info__info,
.table-info__location,
.table-info__status {
    .ant-table-thead .ant-table-cell {
        background-color: rgba(189, 191, 192, 0.2) !important;
    }
    .ant-table-cell-fix-left,
    .ant-table-cell-fix-right {
        background-color: rgba(189, 191, 192, 0.2) !important;
    }
    .ant-table .ant-table-tbody .ant-table-row:nth-child(odd) {
        background-color: rgba(217, 225, 242, 0.8) !important;
        font-size: 30px;
    }
    .ant-table .ant-table-tbody .ant-table-row:nth-child(even) {
        background-color: rgba(217, 225, 242, 0.8) !important;
        font-size: 30px;
    }
}

// Events Page >>>>> LookEvents
.filtered-section {
    .ant-select-multiple .ant-select-selector {
        border: none !important;
        border-bottom: 1px solid #888888 !important;
        height: 50px !important;
    }
}
