@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}


@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}

@mixin background($color, $url, $repeat, $position, $size) {
  background: $color url($url) $repeat $position / $size;
}

@mixin border($style: solid, $width: 1px, $color: transparent) {
  border: $style $width $color;
}

@mixin generatorLoop($size, $count) {
  @for $i from 0 through $count {
    @if $size=="x" {
      .p#{$size}-#{$i} {
        padding-right: calc(#{$i} * 0.25rem) !important;
        padding-left: calc(#{$i} * 0.25rem) !important;
      }

      .m#{$size}-#{$i} {
        margin-right: calc(#{$i} * 0.25rem) !important;
        margin-left: calc(#{$i} * 0.25rem) !important;
      }
    }

    @else if $size=="y" {
      .p#{$size}-#{$i} {
        padding-top: calc(#{$i} * 0.25rem) !important;
        padding-bottom: calc(#{$i} * 0.25rem) !important;
      }

      .m#{$size}-#{$i} {
        margin-top: calc(#{$i} * 0.25rem) !important;
        margin-bottom: calc(#{$i} * 0.25rem) !important;
      }
    }

    @else if $size=="" {
      .p-#{$i} {
        padding: calc(#{$i} * 0.25rem) !important;
      }

      .pr-#{$i} {
        padding-right: calc(#{$i} * 0.25rem) !important;
      }

      .pl-#{$i} {
        padding-left: calc(#{$i} * 0.25rem) !important;
      }

      .pb-#{$i} {
        padding-bottom: calc(#{$i} * 0.25rem) !important;
      }

      .pt-#{$i} {
        padding-top: calc(#{$i} * 0.25rem) !important;
      }

      .m-#{$i} {
        margin: calc(#{$i} * 0.25rem) !important;
      }

      .mr-#{$i} {
        margin-right: calc(#{$i} * 0.25rem) !important;
      }

      .ml-#{$i} {
        margin-left: calc(#{$i} * 0.25rem) !important;
      }

      .mt-#{$i} {
        margin-top: calc(#{$i} * 0.25rem) !important;
      }

      .mb-#{$i} {
        margin-bottom: calc(#{$i} * 0.25rem) !important;
      }
    }

    @else {
      .pl-#{$size}-#{$i} {
        padding-left: calc(#{$i} * 0.25rem) !important;
      }

      .pr-#{$size}-#{$i} {
        padding-right: calc(#{$i} * 0.25rem) !important;
      }

      .pb-#{$size}-#{$i} {
        padding-bottom: calc(#{$i} * 0.25rem) !important;
      }

      .pt-#{$size}-#{$i} {
        padding-top: calc(#{$i} * 0.25rem) !important;
      }

      .ml-#{$size}-#{$i} {
        margin-left: calc(#{$i} * 0.25rem) !important;
      }

      .mr-#{$size}-#{$i} {
        margin-right: calc(#{$i} * 0.25rem) !important;
      }

      .mb-#{$size}-#{$i} {
        margin-bottom: calc(#{$i} * 0.25rem) !important;
      }

      .mt-#{$size}-#{$i} {
        margin-top: calc(#{$i} * 0.25rem) !important;
      }

      .m-#{$size}-#{$i} {
        margin: calc(#{$i} * 0.25rem) !important;
      }

      .p-#{$size}-#{$i} {
        padding: calc(#{$i} * 0.25rem) !important;
      }
    }
  }
}

@mixin pm-generator($size, $count, $media: $xxl) {
  @if $size !="xxl" {
    @include respond-to($media) {
      @include generatorLoop($size, $count);
    }
  }

  @else {
    @include generatorLoop($size, $count);
  }
}

@mixin pm-auto-generator($size, $case, $media: $xxl) {
  @if $case=="x" {
    @include respond-to($media) {
      .p#{$case}-#{$size}-auto {
        padding-left: auto;
        padding-right: auto;
      }

      .m#{$case}-#{$size}-auto {
        margin-left: auto;
        margin-right: auto;
      }
    }

    @if $size=="xxl" {
      .mx-auto {
        margin-left: auto;
        margin-right: auto;
      }

      .px-auto {
        padding-left: auto;
        padding-right: auto;
      }
    }
  }

  @else if $case=="y" {
    @include respond-to($media) {
      .p#{$case}-#{$size}-auto {
        padding-top: auto;
        padding-bottom: auto;
      }

      .m#{$case}-#{$size}-auto {
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    @if $size=="xxl" {
      .my-auto {
        margin-top: auto;
        margin-bottom: auto;
      }

      .py-auto {
        padding-top: auto;
        padding-bottom: auto;
      }
    }
  }

  @else {
    @include respond-to($media) {
      .p-#{$size}-auto {
        padding: auto;
      }

      .m-#{$size}-auto {
        margin: auto;
      }
    }

    .m-auto {
      margin: auto;
    }

    .p-auto {
      padding: auto;
    }
  }
}