// COLORS
$color-primary: #2998ffb4;
$color-primary-light: #2998ff;
$color-primary-dark: rgba(14, 82, 184, 0.5);

$color-secondary-light: #F4DB78;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-grey-light-1: #EDEEF1;
$color-grey-light-2: #EDEEF1;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #495B53;

$color-white: #EDEEF1;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


// Screen Sizes
$sm: '(max-width: 768px)';
$md: '(max-width: 992px)';
$lg: '(max-width: 1024px)';
$xl: '(max-width: 1366px)';
$xxl: '(max-width: 1920px)';